{% load static %}

<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <title>todoApp - {% block title %}{% endblock %}</title>

    <link rel="stylesheet" href="https://stackpath.bootstrapcdn.com/bootstrap/4.4.1/css/bootstrap.min.css"
          integrity="sha384-Vkoo8x4CGsO3+Hhxv8T/Q5PaXtkKtu6ug5TOeNV6gBiFeWPGFN9MuhOf23Q9Ifjh" crossorigin="anonymous">

    {% block head %}{% endblock %}
</head>
<body>
{% include 'partials/navbar.html' %}
<div class="container col-10">
    {% block content %}{% endblock %}
</div>


<script src="https://code.jquery.com/jquery-3.4.1.slim.min.js"
        integrity="sha384-J6qa4849blE2+poT4WnyKhv5vZF5SrPo0iEjwBvKU7imGFAV0wwj1yYfoRSJoZ+n"
        crossorigin="anonymous"></script>
<script src="https://cdn.jsdelivr.net/npm/popper.js@1.16.0/dist/umd/popper.min.js"
        integrity="sha384-Q6E9RHvbIyZFJoft+2mJbHaEWldlvI9IOYy5n3zV9zzTtmI3UksdQRVvoxMfooAo"
        crossorigin="anonymous"></script>
<script src="https://stackpath.bootstrapcdn.com/bootstrap/4.4.1/js/bootstrap.min.js"
        integrity="sha384-wfSDF2E50Y2D1uUdj0O3uMBJnjuUD4Ih7YwaYd1iqfktj0Uod8GCExl3Og8ifwB6"
        crossorigin="anonymous"></script>

<script>
    $(document).ready(function () {

        "use strict";

        var todo = function () {
            $('.todo-list .todo-item input').click(function () {
                if ($(this).is(':checked')) {
                    $(this).parent().parent().parent().toggleClass('complete');
                } else {
                    $(this).parent().parent().parent().toggleClass('complete');
                }
            });

            $('.todo-nav .all-task').click(function () {
                $('.todo-list').removeClass('only-active');
                $('.todo-list').removeClass('only-complete');
                $('.todo-nav li.active').removeClass('active');
                $(this).addClass('active');
            });

            $('.todo-nav .active-task').click(function () {
                $('.todo-list').removeClass('only-complete');
                $('.todo-list').addClass('only-active');
                $('.todo-nav li.active').removeClass('active');
                $(this).addClass('active');
            });

            $('.todo-nav .completed-task').click(function () {
                $('.todo-list').removeClass('only-active');
                $('.todo-list').addClass('only-complete');
                $('.todo-nav li.active').removeClass('active');
                $(this).addClass('active');
            });

            $('#uniform-all-complete input').click(function () {
                if ($(this).is(':checked')) {
                    $('.todo-item .checker span:not(.checked) input').click();
                } else {
                    $('.todo-item .checker span.checked input').click();
                }
            });

            $('.remove-todo-item').click(function () {
                $(this).parent().remove();
            });
        };

        todo();

        $(".add-task").keypress(function (e) {
            if ((e.which == 13) && (!$(this).val().length == 0)) {
                $('<div class="todo-item"><div class="checker"><span class=""><input type="checkbox"></span></div> <span>' + $(this).val() + '</span> <a href="javascript:void(0);" class="float-right remove-todo-item"><i class="icon-close"></i></a></div>').insertAfter('.todo-list .todo-item:last-child');
                $(this).val('');
            } else if (e.which == 13) {
                alert('Please enter new task');
            }
            $(document).on('.todo-list .todo-item.added input').click(function () {
                if ($(this).is(':checked')) {
                    $(this).parent().parent().parent().toggleClass('complete');
                } else {
                    $(this).parent().parent().parent().toggleClass('complete');
                }
            });
            $('.todo-list .todo-item.added .remove-todo-item').click(function () {
                $(this).parent().remove();
            });
        });
    });

</script>
</body>
</html>