{% extends 'parent/base.html' %}
{% load static %}

{% block title %}Home{% endblock %}

{% block head %}

    <style>

        .todo-nav {
            margin-top: 10px
        }

        .todo-list {
            margin: 10px 0
        }

        .todo-list .todo-item {
            padding: 15px;
            margin: 5px 0;
            border-radius: 0;
            background: #f7f7f7
        }

        .todo-list.only-active .todo-item.complete {
            display: none
        }

        .todo-list.only-active .todo-item:not(.complete) {
            display: block
        }

        .todo-list.only-complete .todo-item:not(.complete) {
            display: none
        }

        .todo-list.only-complete .todo-item.complete {
            display: block
        }

        .todo-list .todo-item.complete span {
            text-decoration: line-through
        }

        .remove-todo-item {
            color: #ccc;
            visibility: hidden
        }

        .remove-todo-item:hover {
            color: #5f5f5f
        }

        .todo-item:hover .remove-todo-item {
            visibility: visible
        }

        div.checker {
            width: 18px;
            height: 18px
        }

        div.checker input,
        div.checker span {
            width: 18px;
            height: 18px
        }

        div.checker span {
            display: -moz-inline-box;
            display: inline-block;
            zoom: 1;
            text-align: center;
            background-position: 0 -260px;
        }

        div.checker, div.checker input, div.checker span {
            width: 19px;
            height: 19px;
        }

        div.checker, div.radio, div.uploader {
            position: relative;
        }

        div.button, div.button *, div.checker, div.checker *, div.radio, div.radio *, div.selector, div.selector *, div.uploader, div.uploader * {
            margin: 0;
            padding: 0;
        }

        div.button, div.checker, div.radio, div.selector, div.uploader {
            display: -moz-inline-box;
            display: inline-block;
            zoom: 1;
            vertical-align: middle;
        }

        .card {
            padding: 25px;
            margin-bottom: 20px;
            border: initial;
            background: #fff;
            border-radius: calc(.15rem - 1px);
            box-shadow: 0 1px 15px rgba(0, 0, 0, 0.04), 0 1px 6px rgba(0, 0, 0, 0.04);
        }

    </style>
{% endblock %}

{% block content %}
    <div class="row my-5">
        <div class="col-md-12">
            <div class="card-header" style="background-color: #00AA9E; color: white">
                <h3 class="mb-0" style="float: left">Hello {{ request.user|title }}</h3><a
                    href="{% url 'account:logout' %}" style="color: white"><small
                    style="float: right">Logout</small></a>
                <br><br>
                <p class="mb-0">You have {{ tasksCount }} task{{ tasksCount|pluralize:"s" }} to do</p>
            </div>
            <div class="card card-white">

                <div class="card-body">
                    <div id="search-add-wrapper">
                        <form method="GET" class="d-flex float-left col-md-11">
                            <div class="form-outline flex-fill">
                                <input type="text" name="search" id="form1" class="form-control"
                                       placeholder="Search..." value="{{ request.GET.search }}" />
                            </div>
                            <button type="submit" class="btn btn-info mx-2 ">Search</button>

                        </form>

                        <a id="add-link" href="{% url 'account:task-create' %}" class="d-flex h1 float-right" style="text-decoration: none; margin-right: 30px; margin-top: -48px; color: #00AA9E;">&#x2b;</a>
                    </div>

<br>
                    <ul class="nav nav-pills todo-nav">
                        <li role="presentation" class="nav-item all-task active"><a href="#" class="nav-link">All</a>
                        </li>
                        <li role="presentation" class="nav-item active-task"><a href="#" class="nav-link">Active</a>
                        </li>
                        <li role="presentation" class="nav-item completed-task"><a href="#"
                                                                                   class="nav-link">Completed</a></li>
                    </ul>
                    <div class="todo-list">
                        {% for task in tasks %}
                            <div class="todo-item {% if task.complete %}complete{% endif %}">
                                <div class="checker"><span class=""><input type="checkbox"
                                                                           {% if task.complete %}checked{% endif %}
                                                                           name="{{ task.title }}-{{ task.id }}"
                                                                           disabled></span>
                                </div>
                                <span>{{ task.title }}</span>
                                <button type="button" class="close" data-dismiss="modal" aria-label="Close"
                                        style="float: right">
                                    <a href="{% url 'account:task-delete' task.id %}" aria-hidden="true"
                                       style="text-decoration: none">&times;</a>
                                </button>
                                <a href="{% url 'account:task-update' task.id %}" aria-label="Close"
                                   class="text-center mx-2" style="float: right; text-decoration: none">Edit</a>
                            </div>
                        {% empty %}
                            <h4>No tasks..</h4>
                        {% endfor %}
                    </div>
                </div>
            </div>
        </div>
    </div>

{% endblock %}